h1 {
  font-family: 'Prata', serif;
  font-size: 2.5em;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

h1.heading {
  margin: 25px 0 -11px 0;
  color: #3D155F;
}
.login-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;

    .color-strip-top {
      height: 7px;
      width: 100vw;
      background-color: #a4508b;
      background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

    }

    .panel-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 72px auto;
    }

    .question-box {
      height: 80px;
      width: 80px;
      background: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
      border-radius: 50px 50px 50px 50px;

      h1.question-mark {
        margin: auto;
      }
      .question-mark {
        display: flex;
        justify-content: center;
        font-size: 72px;
        color: white;
      }
    }

    button.login-btn {
      margin: 25px 0 0 0px;
    }
    
    .login-btn {
      width: 350px;
      height: 50px;
      cursor: pointer;
      background: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
      border: none;
      border-radius: 3px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
    
  
      &:hover{
        background: linear-gradient(45deg,#cb218e 0%, #6617cb 74%);
       
      }
    }
   
}

 