h1 {
  font-family: 'Prata', serif;
}


  .login-btn {
    width: 30%;
    height: 40px;
    cursor: pointer;
    background: linear-gradient(145deg, rgba(8,229,238,1) 1%, rgba(23,72,184,1) 100%);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
    border: none;
    border-radius: 10px;
    color: white;
    transition: 3s ease-in;

    &:hover{
      background: linear-gradient(105deg, rgba(8,229,238,1) 1%, rgba(23,72,184,1) 100%);
     
    }
  }

