.card-container {
  border: 0 0 0 white;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #f7f7f7;
  width: 560px;
  height: max-content;
  margin: 30px auto 0 auto;
  box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.75);
  
  h3.question-card-title {
    color: #5f0a87;
    font-size: 26px;
    margin: 1px 0 16px 0;
  }
  
  .or-text {
    color: #5f0a87;
    font-size: 28;
    font-weight: bold;
  }

  .question-container {
    display: inline-grid;
    grid-template-columns: 28% 4% auto;
    grid-template-rows: max-content;
    width: inherit;

    input[type="radio"] {
      margin-right: 10px;
      color: 5f0a87;
      background-color: #5f0a87;
    }

    .user-info-column {
      align-self: center;
      justify-self: center;
      width: 100%;
      margin: -29px 0 0 0;

      img.avatar {
        display: flex;
        margin: 0px 0px 9px 36px;
      }

      p.author-heading {
        color: #5f0a87;
        display: flex;
        justify-content: center;
    }
    .name-container {
      display: flex;
      justify-content: center;
      color: #5f0a87;
    }
  }

  .question-form-container {
    /* align-self: center; */
    justify-self: flex-end;
    margin: 9px 0 0 0;
  }

  .divider-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 372px;
    margin: -8px 0 -8px 0;
}
  .horizontal-divider {
    height: 90%;
    width: .5px;
    background-color: #c7c7c7;
    display: block;
    align-self: center;
    justify-self: flex-start;
  }
  .line {
    height: .5px;
    width: 40%;
    background-color: #555;
    display: block;
  }
    .sumbit-Question-btn {
      width: 350px;
      height: 50px;
      cursor: pointer;
      background: linear-gradient(315deg, #6617cb 0%, #cb218e 74%);
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.20);
      border: none;
      border-radius: 3px;
      color: white;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      margin: 20px 0 21px 0px;

      &:hover{
        background: linear-gradient(45deg,#cb218e 0%, #6617cb 74%);
        }
      }
}
}

    input[type='radio']:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

    input[type='radio']:checked:after {
        width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #6617cb;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid white;
    }

